@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --neutral-200: #E5E5E5;
    --sky-blue: #38BDF8;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    background-color: var(--neutral-200);
}

.header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.header > h1 {
    font-weight: 300;
    padding: 16px;
}

.content {
    flex: 1;
    display: flex;
}

.content > * {
    margin: 8px;
}

.folders {
    flex: 1;
    border-radius: 24px;
    background-color: white;
    padding: 16px;
}

.folders > p:first-child {
    text-align: center;
    font-size: 1.2rem;
}

.folders > .addFolderContainer {
    text-align: center;
    margin: 8px;
    background-color: var(--neutral-200);
    border-radius: 16px;
    padding: 8px 16px;
    display: flex;
}

.addFolderContainer > input[type="text"]{
    flex: 1;
    font-size: 16px;
    appearance: none;
    border: 0;
    background-color: var(--neutral-200);
    border-bottom: 1px solid var(--neutral-200);
    padding: 8px 0px;
    font-family: 'Montserrat', sans-serif;
}

.addFolderContainer > input[type="text"]:focus {
    outline: 0;
    border-bottom: 1px solid black;
    transition: 0.7s;
}

.addFolderContainer > button {
    font-size: 24px;
    padding: 0 8px;
    appearance: none;
    border: 0;
    background-color: var(--neutral-200);
}

.folderLists {
    padding: 8px;
}

.folderLists > p {
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.folderLists > .active {
    background-color: var(--sky-blue);
    border-radius: 8px;
    color: white;
    font-weight: 700;
}


.notes {
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
}

.project-heading-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.project-heading-container > p {
    background-color: var(--sky-blue);
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.project-heading-container > p:hover {
    cursor: pointer;
}

.project-heading-container > p > svg {
    vertical-align: bottom;
}

.modal { 
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 16px;
    width: 40%;
}

.modal-content > p:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.modal-content > label {
    display: block;
    margin: 1em 0.25em;
}

.modal-content > input {
    font-size: 16px;
    pad: 0.25em 0.5em;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid whitesmoke;
    line-height: 1;
    height: 2.25rem;
    width: 90%;
}

#addBtn {
    display: block;
    font-size: 16px;
    appearance: none;
    padding: 8px;
    width: 90%;
    margin: 16px 0px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: var(--sky-blue);
    color: white;
}

#addBtn:hover {
    cursor: pointer;
    filter: opacity(0.9);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 24px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.todo-list > label {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 0.5em;
    margin-bottom: 8px;
}

.todo-list > label > input{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: calc(1em + 1px);
    height: calc(1em + 1px);
    font: inherit;
    color: var(--neutral-200);
    border: 1px solid var(--neutral-200);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.todo-list > label > input::before{
    content: "";
    width: .9em;
    height: .9em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--sky-blue);
    border-radius: 50%;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.todo-list > label > input:checked::before {
    transform: scale(1);
}

.todo-list > label > input:checked + span {
    opacity: 0.5;
}

.todo-list > label > span {
    display: inline-block;
    position: relative;
}

.todo-list > label > input:checked + span::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
}